html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
	font-style: normal;
}

html,
body {
	height: 100%;
	font-size: 15px;
	color: #333333;
	background: #f3f3f3;
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "SimSun";
	letter-spacing: 1px;
	overflow-x: hidden;
}

p {
	word-break: break-all;
}

a,
img {
	width: 100%;
	height: 100%;
	display: block;
	-webkit-touch-callout: none;
}

/*修改placeholder 字体颜色*/
input::-webkit-input-placeholder {
	color: -internal-light-dark(black, white);
}

textarea::-webkit-input-placeholder {
	color: -internal-light-dark(black, white);
}

input:-moz-placeholder {
	color: -internal-light-dark(black, white);
}

input::-moz-placeholder {
	color: -internal-light-dark(black, white);
}

input:-ms-input-placeholder {
	color: -internal-light-dark(black, white);
}

.line-height-formal {
	line-height: 1.7;
}

.app-overflow-hidden {
	overflow: hidden;
}

.dwote-1 {
	/*单行省略......*/
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}


.dwwo-2 {
	/*2行省略......*/
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}


.dwwo-3 {
	/*3行省略......*/
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}


.relative {
	/*相对定位*/
	position: relative;
}


.absolute {
	/*绝对定位*/
	position: absolute;
}


.font-weight-bold {
	/*字体加粗*/
	font-weight: 600;
}


.text-center {
	/*文本居中*/
	text-align: center;
}

.image-mc {
	/* 图片垂直居中覆盖定位  */
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 999;
	margin-top: -75px;
	margin-left: -75px;
	width: 200px;
	height: 200px;
}

.flex {
	/* 转为弹性盒模型  */
	display: flex;
}

.flex_inline {
	/* 转为行内弹性盒模型  */
	display: inline-flex;
}

.flex1 {
	/* 单个元素铺满剩余空间 多个元素均分剩余空间  */
	flex: 1;
	min-width: 0;
}

.flex_wrap {
	/* 转为弹性盒模型并自动换行  */
	display: flex;
	flex-wrap: wrap;
}

.flex_c {
	/* 水平居中 */
	display: flex;
	justify-content: center;
}

.flex_m {
	/* 垂直居中 */
	display: flex;
	align-items: center;
}

.flex_c_m {
	/* 垂直水平居中 */
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex_lr {
	/* 水平两端对齐，剩余空间平均分布 */
	display: flex;
	justify-content: space-between;
}

.flex_lr_m {
	/* 水平两端对齐，剩余空间平均分布，垂直居中 */
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flex_tb {
	/* 垂直两端对齐  */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.flex_line_c {
	/* 多行垂直水平居中 */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex_line_c_m {
	/* 多行垂直居中，水平居中 */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.flex_tb_c {
	/* 多行垂直两端对齐，水平居中 */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}